.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);

}
.titulo--buscador{
    font-size: 85px;
    color: #FFF;
    animation: giraTitulo 2s;
    
}

@keyframes giraTitulo {
    from{
        transform:rotateX(90deg)
    }to{
        transform: rotateX(0deg);
    }
}

.input--botao{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px ;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}
.input--botao input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #FFF;
    outline: none;
    margin-right: 8px;
    cursor: pointer;
}
.botao--buscador:hover{
    transform: scale(1.5);
    transition: all 1s;
    
}
.input--botao input::placeholder{
   color: #f1f1f1;
}
.botao--buscador{
    background-color: transparent;
    border:0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.area--itens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
    width: 500px;
    border-radius: 8px;
}
.area--itens h2{
    margin: 16px 0;
    font-size: 38px;

}
.area--itens span{
    margin-bottom: 16px;
    font-weight: bold;
}

@media (max-width: 620px){
    .titulo--buscador{
        font-size:50px;

    }
    .area--itens h2{
        font-size: 28px;

    }
    .area--itens {
        width: 80%;
    }
}

@media (max-width: 480px){
    .titulo--buscador{
        font-size:38px;

    }
    .area--itens h2{
        font-size: 28px;

    }
    .area--itens {
        width: 80%;
    }
}
@media (max-width: 281px){
    
    .titulo--buscador{
        font-size:28px;

    }
    .input--botao input{
        margin-right: 8px;
        font-size: 14px;
    }

    .botao--buscador{
        width: 30px;
    }
    .input--botao{
        width: 90%;
    }
    .area--itens h2{
        font-size: 18px;

    }
    .area--itens span{
        font-size: 12px;

    }
    .area--itens {
        width: 80%;
    }
}